[Unit]
Description=Neo Crisis Gunicorn
After=network.target

[Service]
User={{ app_user }}
#User=vagrant
Group=www-data
#WorkingDirectory=/vagrant
#Environment="PATH=/vagrant/dev_venv/bin"
#ExecStart=/vagrant/dev_venv/bin/gunicorn --workers 3 --bind unix:/tmp/neocrisis.sock -m 007 wsgi:app
WorkingDirectory={{ proj_folder }}/api
Environment="PATH={{ proj_folder }}/venv/bin"
Environment="DBNAME={{ db_name }}"
Environment="HOST=127.0.0.1"
ExecStart={{ proj_folder }}/venv/bin/gunicorn --workers 4 --bind unix:{{ proj_folder }}/api/neocrisis.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
