[Unit]
Description=Neo Crisis Gunicorn
After=network.target

[Service]
User={{ app_user }}
#User=vagrant
Group=www-data
#WorkingDirectory=/vagrant
#Environment="PATH=/vagrant/dev_venv/bin"
#ExecStart=/vagrant/dev_venv/bin/gunicorn --workers 3 --bind unix:/tmp/neocrisis.sock -m 007 wsgi:app
WorkingDirectory={{ proj_folder }}
Environment="PATH={{ proj_folder }}/venv/bin"
ExecStart={{ proj_folder }}/venv/bin/gunicorn --workers 3 --bind unix:neocrisis.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
