click==6.7
Flask==1.0.2
Flask-Limiter==1.0.1
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
jinja2-cli==0.6.0
limits==1.3
MarkupSafe==1.0
psycopg2==2.7.5
python-dateutil==2.8.0
six==1.11.0
Werkzeug==0.14.1
